@import '../partials/mixin';

aside.socials{
    flex: 1 0 0;
    @include d-flex(center, center, column);

    a{
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        padding: 1em 0;
        color: #F7F6F8;
        font-weight: 300;
    }
}