div.footer {
    @include d-flex();

    .blank{
        flex: 2 0 0;
        p{
            color: white;
            font-size: 20px;
            font-weight: 700;
            width: 50px;
        }
    }

    > div:not(.blank){
        flex: 10 0 0;
        @include d-flex(flex-start);
    }
}